<form>
<div class="input-group mb-3">
    <button id="dropdownButton" class="btn btn-outline-secondary dropdown-toggle" type="button"
        data-bs-toggle="dropdown" aria-expanded="false">Task Category</button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" onclick="setSelectedCategory('{{category1.name}}')">
                {{category1.name}}</a></li>
        <li><a class="dropdown-item" onclick="setSelectedCategory('{{category2.name}}')">
                {{category2.name}}</a></li>
        <li><a class="dropdown-item" onclick="setSelectedCategory('{{category3.name}}')">
                {{category3.name}}</a></li>
        <li><a class="dropdown-item" onclick="setSelectedCategory('{{category4.name}}')">
                {{category4.name}}</a></li>
        <li><a class="dropdown-item" onclick="setSelectedCategory('{{category5.name}}')">
                {{category5.name}}</a></li>
    </ul>
    <input id="selectedCategoryInput" type="text" class="form-control" aria-label="Text input with dropdown button"
        placeholder="Enter your task name here!" onclick="replacePlaceholder()">
</div>
</form>

<script src="../public/js/profile.js">
    function replacePlaceholder() {
        document.getElementById("selectedCategoryInput").setAttribute("placeholder", "");
    }

    function setSelectedCategory(categoryName) {
        var dropdownButton = document.getElementById("dropdownButton");
        dropdownButton.innerText = categoryName;
        document.getElementById("selectedCategoryInput").setAttribute("title", categoryName);
    }
</script>