<div class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img class="" id="nav-logo" src="/images/Goalsy-logo.png" alt="Goalsy logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                        <a class="nav-link" href="/shop">Shop</a>
                        <a class="nav-link" id="logout" href="/">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>
{{#each items as |item|}}
<div class="row justify-content-around">
    <!-- Price -->
    <div class="col">
        <img src="">
    </div>
    <!-- Name -->
    <div class="col">
        <p>{{item.items.[0].name}}</p>
    </div>
    <!-- Price -->
    <div class="col d-flex">
        <img src="/images/Goalsy_coin.png" id="store-coin-img">
        <p>{{item.price}}</p>
    </div>
    <!-- Category -->
    <div class="col">
        <p>{{item.items.[0].item_category.name}}</p>
    </div>
    <!-- Rarity -->
    <div class="col">
        <p>{{item.items.[0].rarity.name}}</p>
    </div>
    <!-- Buy Button -->
    <div class="col">
        <button type="button" class="btn btn-primary" onclick="purchase({{item.id}})">Purchase</button>
    </div>
</div>
{{/each}}